*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.FruitEdit{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 2rem;
    border: 1px solid;
    border-radius: 20px;
    width:15%;
    margin-bottom: 1rem;
}