*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    background-color: burlywood;
    color: darkorange;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color:snow;
    color:chocolate;
    border-radius: 15px ;
    border-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}